@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
header {
	position: fixed;
	background-color: #f0f0f0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 10px 200px;
	z-index: 99;
}
.logo {
	text-decoration: none;
	font-size: 1.8em;
	color: #3a6cf4;
	text-transform: uppercase;
	font-weight: 700;
}
.navigation a {
	color: #3a6cf4;
	text-decoration: none;
	font-size: 1.1em;
	font-weight: 500;
	padding-left: 30px;
	transition: 0.5s ease;
	position: relative;
}
.navigation a:hover {
	color: blueviolet;
	transform: scale(1.1);
	/* font-size: 1.2em; */
}
section {
	padding: 100px 200px;
}
.tst {
	transition: 0.7s ease;
}
.tst:hover {
	transform: scale(1.1);
}
.main {
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	background: url(../images/background.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	transition: 0.7s ease;
	padding-left: 0;
}
.main-content {
	background-color: rgba(255, 255, 255, 0.362);
	padding: 20px;
	padding-left: 100px;
	border-radius: 5px;
	padding-right: 40px;
}
.main h2 {
	color: white;
	font-size: 1.4em;
	font-weight: 500;
}
.main h2 span {
	color: #3a6cf4;
	font-size: 50px;
	font-weight: 600;
	display: inline-block;
	background-color: white;
	padding: 10px;
	margin: -10px;
	border-radius: 10px;
}
.main h3 {
	color: white;
	font-size: 2em;
	font-weight: 700;
	letter-spacing: 1px;
	margin-bottom: 30px;
	margin-top: 20px;
}
@media (max-width: 500px) {
	.main-content {
		padding-left: 10px;
	}
	.main h2 span {
		font-size: 30px;
	}
}
.main-btn {
	text-decoration: none;
	font-size: 1.1em;
	font-weight: 600;
	background-color: #3a6cf4;
	border-radius: 15px;
	color: white;
	letter-spacing: 1px;
	padding: 0.9375em;
	display: inline-block;
	margin-bottom: 40px;
	transition: 0.7s ease;
}
.main-btn:hover {
	background-color: #7195f7;
	transform: scale(1.1);
}

.main-social a {
	color: #ffffff;
	font-size: 1.7em;
	padding-right: 30px;
}
.title {
	display: flex;
	justify-content: center;
	color: #3a6cf4;
	font-size: 2.2em;
	font-weight: 800;
	margin-bottom: 30px;
	letter-spacing: 1px;
}
.content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}
.cards {
	padding: 100px 50px;
}
.card {
	background-color: #fff;
	margin: 15px;
	box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
	border-radius: 10px;
	padding: 25px;
	width: 21.25em;
	transition: 0.7s ease;
}
.card:hover {
	transform: scale(1.1);
}
.card .icon {
	color: #3a6cf4;
	font-size: 8em;
	text-align: center;
}
.info {
	text-align: center;
	line-height: 1.8;
}
.info h3 {
	margin: 10px;
	color: #3a6cf4;
	font-size: 1.2em;
	font-weight: 700;
}
.projects {
	background-color: rgb(6, 7, 78);
	padding: 100px 8px;
}
.projects .content {
	margin-top: 30px;
}
.project-card {
	background-color: white;
	border: 1px solid white;
	min-height: 14em;
	width: 23em;
	overflow: hidden;
	border-radius: 10px;
	margin: 20px;
	transition: 0.7s ease;
	flex-basis: 25%;
}
.projects .title {
	color: white;
}

.project-card:hover {
	transform: scale(1.1);
}
.project-img img {
	width: 100%;
}
.project-card:hover .project-img {
	opacity: 0.9;
}
.project-info {
	padding: 1em;
}
.project-category {
	font-size: 0.8em;
	color: black;
}
.project-title {
	justify-content: space-between;
	display: flex;
	text-transform: uppercase;
	font-weight: 800;
	margin-top: 10px;
}
.more-details {
	text-decoration: none;
	transition: 0.7s ease;
}
.more-details:hover {
	transform: scale(1.1);
	color: purple;
}
.projects .content {
	padding: 100px 1px;
	display: flex;
}
.content .icon {
	font-size: 4.5em;
}
.content .info h3 {
	color: black;
	text-transform: uppercase;
}
.contant-p-1 {
	font-size: 1.5em;
}
footer {
	background-color: #000016;
	color: white;
	padding: 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-title {
	font-size: 1.3em;
	font-weight: 600;
}
.footer-title span {
	color: #3a6cf4;
}

.footer .main-social a {
	color: #ffffff;
	font-size: 2.3em;
	padding: 0 12px 0 0;
}
.prot-btn {
	text-decoration: none;
	font-size: 0.9375em;
	padding: 10px;
	background-color: #3a6cf4;
	font-weight: 600;
	transition: 0.7s ease;
	color: white;
	border-radius: 10px;
	display: inline-block;
	width: 22em;
	text-align: center;
	letter-spacing: 1px;
	text-align-last: justify;
	height: fit-content;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.prot-btn:hover {
	transform: translateX(10px);
	color: #7195f7;
}

@media (max-width: 1023px) {
	header {
		padding: 12px 10px;
	}
	header .logo {
		font-size: 1.3em;
	}
	.navigation a {
		font-size: 1em;
		padding-left: 10px;
	}
	.title {
		font-size: 1.8em;
	}
	section {
		padding: 80px 20px;
	}
	.main h2 {
		font-size: 1em;
	}
	.main h3 {
		font-size: 1.6em;
	}
	.content {
		flex-direction: column;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
	}
	.footer-title {
		font-size: 0.8em;
	}
	.footer .main-social a {
		padding: 0 6px 0 0;
		font-size: 1.8em;
	}
	.footer {
		padding: 1em;
	}
	.cards {
		padding: 100px 100px;
	}
	.project-card {
		width: 11em;
	}
	.project-title {
		font-size: 0.8em;
	}
	.project-category {
		font-size: 0.6em;
	}
}
@media (max-width: 850px) {
	.project-card {
		width: 32em;
	}
	.main h2 {
		font-size: 2em;
	}
	.card {
		width: 26.25em;
	}
}
@media (max-width: 641px) {
	body {
		font-size: 12px;
	}
	.main h3 {
		font-size: 1.4em;
	}
}
@media (max-width: 400px) {
	body {
		font-size: 10px;
	}
	.content {
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
		flex-wrap: wrap;
		align-content: center;
	}
	.project-card {
		width: 26em;
	}
}
@media (max-width: 1920px) {
	body {
	}

	.project-card {
		width: 35em;
	}
}
@media (max-width: 1400px) {
	.project-card {
		flex-basis: 45%;
	}
}
@media (max-width: 991px) {
	.project-card {
		flex-basis: 50%;
	}
}
@media (max-width: 500px) {
	.project-card {
		width: 31em;
	}
}
